subscription_id     = "90d2c2bb-eb12-4c34-b268-af73735c2e32"
client_id           = "d0de4e5e-4957-4e17-2cb89f45c0"
client_secret       = "6b8c35e9-5ad3-41fd-b940-13cbd58e7755"
tenant_id           = "4f80f90c-e5c4-43a4-bc55-bd94bdad3385"
resource_group_name = "rg-file-uploader"
location            = "eastus"
storage_account_name = "fileuploadersa"
blob_container_name = "uploads"
environment         = "dev"
